*

### Bash ###
!.bashrc
!.profile
!.bash_aliases
!.bash_functions

### Bookmarks ###
!.config
!.config/gtk-3.0
!.config/gtk-3.0/bookmarks

### Code ###
!.config
!.config/Code
!.config/Code/User
!.config/Code/User/settings.json

### Git ###
!.github/
!.github/ISSUE_TEMPLATE/
!.github/ISSUE_TEMPLATE/bug-report.md
!.github/ISSUE_TEMPLATE/feature-request.md
!.github/config.yml
!.github/CONTRIBUTING.md
!.github/issue_label_bot.yaml
!.github/PULL_REQUEST_TEMPLATE.md
!.github/renovate.json
!.github/stale.yml
!.gitconfig

### Nautilus ###
!.hidden

### Postgres ###
!.psqlrc

### SSH ###
!.ssh
!.ssh/config

### Zsh ###
!.zshrc
!.zprofile
!.zsh_aliases
!.zsh_functions
