*

### Bash ###
!.bashrc
!.profile
!.bash_aliases
!.bash_functions

### Git ###
!.github/
!.github/ISSUE_TEMPLATE/
!.github/ISSUE_TEMPLATE/bug-report.md
!.github/ISSUE_TEMPLATE/feature-request.md
!.github/config.yml
!.github/CONTRIBUTING.md
!.github/issue_label_bot.yaml
!.github/PULL_REQUEST_TEMPLATE.md
!.github/renovate.json
!.github/stale.yml
!.gitconfig
